{% extends "base.html" %} 
{% block title %}Categories{% endblock %} 
{% block content %}
{% if not listAll %}
<div class="back col s3">
    <button class="back-btn btn-flat btn-medium waves-effect waves-orange" onClick="categoryBack()">
        <i class="material-icons">arrow_back</i>
    </button>
</div>
{% endif %}
<div class="buttons col s9">
    <a href="#modal1" id="searchBtn" class="btn waves-effect waves-light orange" 
        onclick="$('#modal1').modal('open');">Search
        <i class="material-icons white-text ">search</i>
    </a>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="search-bar row">
                <div class="input-field col s3">
                    <select name="searchBy" id="searchBy">
                        <option value='id' selected>Id</option>
                        <option value='name'>Name</option>
                    </select>
                    <label>Search By</label>
                </div>
                <div class="input-field col s9">
                    <i class="material-icons prefix black-text">search</i>
                    <input name="searchConstraint" id="searchConstraint" type="text" class="validate">
                    <label for="searchConstraint">Search category</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close btn-flat waves-effect waves-orange" type="submit"
                    name="action" onCLick="searchCategory()">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </div>
    </div>
    {% if listAll %}
    <a href="#modal2" class="btn waves-effect waves-light orange modal-trigger"
        onclick="$('#modal2').modal('open');">Add category
        <i class="material-icons right">add</i>
    </a>
    
    <div id="modal2" class="modal">
        <div class="modal-content">
            <form action="" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="categoryId" id="categoryId" class="materialize-textarea"></textarea>
                        <label for="categoryId">Enter the category Id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="categoryName" id="categoryName" class="materialize-textarea"></textarea>
                        <label for="categoryName">Enter the category name</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select name="categoryStatus" id="categoryStatus">
                      <option value='1'>ENABLED</option>
                      <option value=''>DISABLED</option>
                    </select>
                    <label>Category Status</label>
                  </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="categoryComments" id="categoryComments" class="materialize-textarea"></textarea>
                        <label for="categoryComments">Enter the category comment</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-close btn-flat waves-effect waves-orange" type="submit"
                        name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <a href="#modal3" class="filter-btn btn-flat modal-trigger btn-medium waves-effect waves-orange"
        onclick="$('#modal3').modal('open');"><i class="material-icons">filter_list</i></a>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <form action="#">
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 1</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 2</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 3</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-orange btn-flat">Apply</a>
            <a href="#" class="waves-effect waves-orange btn-flat" onclick="clearFilters()">Clear</a>
        </div>
    </div>
    {% if categories|count != 0 %}
    <span class="card-subtitle center"><em>Showing {{ categories|count }} results</em></span>
    {% endif %}
</div>
<!--card-->
{% if categories|count == 0 %}
<p class="center empty-content">There are no categories to show</p>
{% else %}
{% for category in categories %}
    <div class="card">
        <div class="row right">
            <a href="#modal4" class="modal-close green-text btn-flat waves-effect waves-green"
                onclick="$('#modal4').modal('open');">Edit
                <i class="material-icons green-text right">edit</i>
            </a>
            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h1>Hi</h1>
                </div>
            </div>
            <button type="button" class="btn-flat waves-effect waves-red red-text" onClick="deleteCategory('{{ category.categoryId }}')">Delete
                <i class="material-icons red-text right">delete</i>
            </button>
        </div>
        <h1 class="card-title">
            {{ category.categoryName }}
        </h1>
        <span class="card-subtitle"><em>Id : {{ category.categoryId }}</em></span>
        <p>
            {{ category.categoryComments }}
        </p>
    </div>
{% endfor %}
{% endif %}
{% endblock %}