<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="flex-wrapper">
        <section class="container section" id="userAuth">
            <div class="row">
                <div class="col s12 l6">
                    <div class="logo-container">
                        <img src="../static/images/logo-dark.png" alt="logo">
                    </div>
                    <p>With more lessons, you can begin, improve, or strengthen your skills.</p>
                </div>
                <div class="col s12 l6 offest-l2">
                    <div class="col s12" id="loginUser">
                        <form class="col s12" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="email" name="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">fingerprint</i>
                                    <input id="password" name="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <a href="#" class="orange-text">Forgot Password?</a><br><br><br>
                            <button class="waves-effect waves-light btn orange" type="submit">Submit<i
                                    class="material-icons right">send</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </section> 
        <!--footer-->
        <footer class="page-footer">
        <div class="footer-copyright">
            <div class="right-align container align-footer">
                ©2022 All Rights Reserved, <span style="color:#52ab98">InApp Academy</span>. Privacy & Terms
    
            </div>
          </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
        })
    </script>
</body>
</html>
